<section class="sessions-new">

  <header class="page-header">
    <h1>Jungle &raquo; Login</h1>
  </header>

  <div class="well">
    You haven't signed up yet?
    <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-info' %>
  </div>

  <%= render 'form' %>
</section>