<section class="about-index">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Jungle!</h1>
      <p>
        Jungle is an online shopping mall. Believe it or not, Jungle started
        from a garage sale and now we are aiming at the global market.
      </p>
    </div>
  </div>

  <footer class="container">
    <p>© Company 2021-2022</p>
  </footer>
</section>
